[user]
	name = Lance Parsons
	email = lparsons@princeton.edu
	signingkey = 62874BEB34364F82
[color]
    diff = auto
    status = auto
    branch = auto
[include]
    # path = .github.gitconfig
[push]
    default = matching
[alias]
    lg = log --color --graph --pretty=format:'%C(auto)%h -%d %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	lgs = log --color --graph --pretty=format:'%C(auto)%h -%d %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --show-signature
    logs = log --show-signature
    d = difftool
    wip = for-each-ref --sort='authordate:iso8601' --format=' %(color:green)%(authordate:relative)%09%(color:white)%(refname:short)' refs/heads
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[commit]
    gpgsign = true
